.progressive-image-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .progressive-image {
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: all 0.5s linear 1s;

    &.loading {
      filter: blur(8px);
      -webkit-filter: blur(8px);
      opacity: 0.5;
    }
  }
}
