$link-color: #189bff;
$success-color: #82ff43;
$warning-color: #ffe100;
$error-color: #ff301a;

$primary-color: #2c2c2c;
$primary-background-color: #1e1e1e;
$secondary-background-color: #2d2d2d;
$primary-text-color: #e2e2e2;
$primary-border-color: #373737;
