$primary-color: #87b1fd;
$primary-background-color: #4889fe;
$secondary-background-color: #ffffff;
$form-background-color: #f0f1f7;
$primary-text-color: #2e3962;
$secondary-text-color: #ffffff;
$form-text-color: #aab1d8;
$disable-text-color: #aab1d8;
$primary-border-color: #d9eaef;
$secondary-border-color: #e3e5f0;
$primary-font-family: Montserrat;
$secondary-button-color: #f0f5fd;
