$primary-color: #87b1fd;
$primary-background-color: #4889fe;
$secondary-background-color: #ffffff;
$primary-text-color: #2e3962;
$secondary-text-color: #ffffff;
$primary-border-color: #d9eaef;
$primary-font-family: Montserrat;
$secondary-button-color: #f0f5fd;
