@import '@themes/themeMixins.scss';
@import '@themes/themeVariables.scss';

.user-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;

  .user-page-book-list{
    margin-top: 2rem;
    position: absolute;
  }
}
