@import '@themes/themeVariables.scss';

.book-review__container {
  & * {
    font-size: 14px;
  }

  .book-review {
    .ant-typography-expand {
      visibility: hidden;
      word-spacing: -999px;
      letter-spacing: -999px;

      &:after {
        visibility: visible;
        content: 'read more';
        word-spacing: normal;
        letter-spacing: normal;
      }
    }
  }

  .author-name {
    color: $primary-background-color;
    font-weight: 800;
  }
}
