@import '@themes/themeVariables.scss';

$custom-fontsize: 16px;

.user-text-info__container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & span {
    margin: 0 3px;
  }

  .user-followers {
    margin-bottom: 1rem;
    .user-name {
      color: $primary-color;
      font-weight: 800;
      font-size: $custom-fontsize;
    }
    .user-followernumber {
      font-weight: 800;
      font-size: $custom-fontsize;
    }
  }

  .user-commonbooks {
    margin-bottom: 1rem;
    .user-input-commonbooks {
      font-weight: 800;
      font-size: $custom-fontsize;
    }
  }

  .user-commonpercent {
    margin-bottom: 1rem;
    .user-input-commonpercent {
      font-weight: 800;
      font-size: $custom-fontsize;
    }
  }
}
