@import '@themes/themeMixins.scss';
@import '@themes/themeVariables.scss';

.book-row__container{
    margin: 2rem 0 2rem 0;

    .book-image{
        height: 100px;
        width: 80px;
        background: $primary-color;
        margin: 0 3rem 0 0;
    }

    .book-info__container {
        .book-title {
            font-size: 18px;
            font-weight: 4px;
            color: $book-title-color;
        }

        .book-author {

        }
    }
}