@import '@themes/themeMixins.scss';
@import '@themes/themeVariables.scss';

$filter-bar-radius: calc(45px / 2);

.filter-bar {
  height: 45px;
  min-height: 45px;
  width: 60%;
  max-width: 680px;
  display: flex;
  margin: 0 auto;
  box-shadow: 0 0 20px 0 rgba(151, 166, 186, 0.4);
  border: none;
  border-radius: $filter-bar-radius;

  .filter-select__container {
    height: 100%;
    width: calc(100% - 90px);

    .ant-select-selection {
      height: 100%;
      border: none;
      box-shadow: none;
      background: transparent;

      .ant-select-selection__rendered {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 21px;
        padding-left: 3rem;
        margin: 0;

        .ant-select-selection__placeholder {
          display: block !important;

          .search-icon {
            height: 100%;
            display: flex !important;
            align-items: center;
            margin-left: 1rem;
            font-size: 21px;
            color: $primary-background-color;
          }
        }

        .ant-select-search {
          padding-right: 3.5rem;
        }
      }
    }
  }

  .filter-button {
    height: 100%;
    width: 90px;
    border: none;
    border-radius: $filter-bar-radius;
    color: $secondary-text-color;
    font-weight: bold;
  }
}

.filter-select-dropdown__container {
  width: 60% !important;
  max-width: 680px !important;
  padding: 0 1rem;
  border-radius: $filter-bar-radius;

  .filter-spining-icon {
    display: flex;
    margin: 7px 0;

    span {
      font-size: 21px;
    }
  }

  .search-result__option {
    height: 45px;
    padding-left: 0;
    font-size: 21px;
    line-height: 35px;

    .search-result-icon {
      margin-right: 0.5rem;
      color: $primary-background-color;
    }
  }
}
